@import "../../global.scss";


.topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    color: $maincolor;
    position: fixed;
    top: 0;
    z-index: 2;

    .left{
        padding: 10px 30px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
    }

    .itemcontainer{
        display: flex;
        align-items: center;
        

        .icon{
            font-size: 18px;
            margin-right: 5px;
        }
    
        span{
            font-size: 15px;
            font-weight: 400;
        }

    }

    .menu{
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line-1{
            width: 100%;
            height: 3px;
            background-color: $maincolor;
        }

        .line-2{
            width: 100%;
            height: 3px;
            background-color: $maincolor;
        }

        .line-3{
            width: 100%;
            height: 3px;
            background-color: $maincolor;
        }
    }

}