.contact {
    background-color: lightblue;
    display: flex;
    .left {
        flex: 0.5;
        background-color: red;
        .form {
            padding-top: 200px;
            padding-left: 100px;
            overflow: hidden;
            align-items: center;
            position: relative;
            background-color: black;
            .name_form {}
            .email_form {}
            .message_form {}
        }
    }
    .right {
        flex: 0.5;
        overflow: hidden;
    }
}